<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>レビュー一覧</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/houses}">店舗一覧</a></li>
								<li class="breadcrumb-item"><a th:href="@{/houses/__${stores.getId()}__}">店舗詳細</a></li>
								<li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
							</ol>
						</nav>

						<h1 class="mb-4 text-center" th:text="${stores.storeName + 'のレビュー一覧'}"></h1>


<div th:if="${successMessage}" class="alert alert-info">
                            <span th:text="${successMessage}"></span>
                        </div>

						<div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
							<div th:each="review : ${reviewPage}">
								<div class="col">
									<div class="card">
										<div class="card-body">
											<div class="d-flex justify-content-between">
												<h5 class="card-title" th:text="${review.getUsers().getUserName()}"></h5>
												<span sec:authorize="isAuthenticated()"
													th:if="${#authentication.principal.user.id == review.getUsers().getId()}">
													<a th:href="@{/houses/__${stores.id}__/prime/reviews/__${review.getId()}__/edit}"
														class="me-2">編集</a>
													<a href="#" class="nagoyameshi-link-danger" data-bs-toggle="modal"
														th:data-bs-target="${'#deleteReviewModal' + review.getId()}">削除</a>
													<!-- 削除用モーダル -->
													<div class="modal fade" th:id="${'deleteReviewModal' + review.id}"
														tabindex="-1"
														th:aria-labelledby="${'deleteReviewModalLabel' + review.id}">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title"
																		th:id="${'deleteReviewModalLabel' + review.id}">
																		レビューを削除してもよろしいですか？</h5>
																	<button type="button" class="btn-close"
																		data-bs-dismiss="modal"
																		aria-label="閉じる"></button>
																</div>
																<div class="modal-footer">
																	<form method="post"
																		th:action="@{/houses/__${stores.id}__/prime/reviews/__${review.id}__/delete}">
																		<button type="submit"
																			class="btn nagoyameshi-btn-danger text-white shadow-sm">削除</button>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</span>
											</div>
											<p class="card-text mb-1">
												<span class="nagoyameshi-star"
													th:each="star : ${#numbers.sequence(1, 5)}"
													th:text="${star <= review.getScore()} ? '&#9733;' : '&#9734;'"></span>
											</p>
											<p class="card-text"><small class="text-muted"
													th:text="${#dates.format(review.getCreatedDate(), 'yyyy年MM月dd日')}"></small>
											</p>
											<p class="card-text" th:text="${review.getContent()}"></p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- ページネーション -->
						<div th:if="${reviewPage.getTotalPages() > 1}" class="d-flex justify-content-center">
							<nav aria-label="レビュー一覧ページ">
								<ul class="pagination">
									<li class="page-item">
										<a th:href="@{/houses/__${stores.id}__/reviews(page=${reviewPage.number - 1})}"
											th:classappend="${reviewPage.first} ? 'disabled' : ''"
											class="page-link">前</a>
									</li>
									<li th:each="i : ${#numbers.sequence(0, reviewPage.totalPages - 1)}"
										class="page-item">
										<a th:href="@{/houses/__${stores.id}__/reviews(page=${i})}"
											th:classappend="${i == reviewPage.number} ? 'active' : ''" class="page-link"
											th:text="${i + 1}"></a>
									</li>
									<li class="page-item">
										<a th:href="@{/houses/__${stores.id}__/reviews(page=${reviewPage.number + 1})}"
											th:classappend="${reviewPage.last} ? 'disabled' : ''"
											class="page-link">次</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>